body {
  background: url(Luck.webp);
  background-size: cover;
  overflow: hidden;
  height: 100vh;
  cursor: none;
}
.spotlight {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: radial-gradient(
    circle,
    transparent 160px,
    rgba(0, 0, 0, 0.85) 200px
  );
}
